<!--page 4 follo-us-->
<div class="follow-us container">
    <div class="container-sm card-item row order-control" style="margin: 10vw 0 10vw 0">
        <div class="left">
            {% for media in site.follow %}
            <div style="margin: 10vw 0 10vw 0">
                <div class="description">
                    <i class="fa fa-{{media.icon}} fa-5x"></i>
                </div>
                <div class="description">
                    <h3>{{media.title}}</h3>
                    <h4><a href="{{media.url}}">click here to follow</a></h4>
                </div>

            </div>
            {%endfor%}
        </div>
        <h1 class="rounded-circle right">Follow Us</h1>
    </div>
</div>