<div class="association-section">
    <div class="container title">
        <div class="row">
            <h1>
                INTERNATIONAL STUDENT ASSOCIATIONS AT RICE
            </h1>
        </div>
    </div>
    <div class="container flex-wrap">
        <div class="row flex-wrap flex-center-items">
            <div class="col-sm-1">
                <div class="friends-vl"></div>
            </div>
            <div class="col-sm-6">
                <div class="friends-li">
                <ul>
                    <li><a class="friends-link" href="https://www.ruf.rice.edu/~csa/">
                        Chinese Students Association
                    </a></li>
                    <li><a class="friends-link" href="https://www.ruf.rice.edu/~ksa/">
                            Korean Students Association
                        </a></li>
                    <li><a class="friends-link" href="https://vsa.rice.edu/">
                            Vietnamese Student Association
                        </a></li>
                </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <img class="rice-owl">
            </div>

        </div>
    </div>
</div>
