header.home {
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    background-image: url('/img/rice-rcssa-bg.jpeg');
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}
header .padding {
    padding-top: 25vh;
}
.home .s-rectangle {
    position: relative;
    top: -6vw;
    left: -6vw;
    height: 12vw;
    width: 25vw;
    background-color: #{{ site.data.template.color.secondary }};
    color: white;
}
.home .s-rectangle p{
    font-size: 7vw; 
    padding-top: 15px;
    font-family: optima; 
    letter-spacing: 0.75vw
}
.home .b-rectangle {
    position: relative;
    margin:auto;
    height: 30vw;
    width: 60vw;
    background-color: rgba(255,255,255, 0.7);
    color: #{{ site.data.template.color.secondary }};
}
.home .b-rectangle .p1 {
    margin-top: -10%;
    font-size: 2.5vw;
    font-weight: 400;
    font-family: optima;
    line-height: 1.6;
}
.home .b-rectangle .title {
    margin: 0;
    position: relative;
    top: -10vw;
    right: -12vw;
    font-size: 7.5vw;
    letter-spacing: 0.75vw;
    font-family: optima;
}
.home .b-rectangle .p1 span{
    letter-spacing: 0.5vw;
}