<!-- Header -->
<header class="home">
  <div class="padding"></div>
  <div class="b-rectangle">
    <div class="s-rectangle">
      <div class="title">RICE</div>
    </div>
    <div class="title">RCSSA</div>
    <div class="p1">Chinese Student & Scholar Association</div>
    <div class="p2">莱斯大学中国学生学者联谊会</div>
  </div>
  <div class="padding"></div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
