<!-- Header -->
<header class="home">
  <div class="padding"></div>
  <div class="b-rectangle">
    <div class="s-rectangle">
      <p style="font-size: 7vw; font-family: optima; letter-spacing: 0.75vw">RICE</p>
    </div>
    <div class="title">RCSSA</div>
    <h1 class="p1" style="font-weight: 400;">
        Rice Chinese Student & Scholar Association
        <br>
        <span style="letter-spacing: 0.5vw;">莱斯大学中国学生学者联谊会</span>
    </h1>

    <!-- </div> -->
    
  </div>
  <div class="padding"></div>
</header>

<style>
  home-header{
    color: ;
  }
</style>
