<!-- Welcome Section -->
    <section id="welcome" class="bg-dark-blue">
        <div class="container">
            <div class="intro-text">
                <div class=" text-center">
                    <h1>Welcome to RCSSA!</h1>
                    <h2>欢迎来到莱斯大学中国学生学者联谊会</h2>
                </br>
                </br>
                    <h3 style="font-weight: 100;">欢迎来到Rice CSSA的主页。莱斯大学中国学生学者联谊会 Rice Chinese Students & Scholars Association (RCSSA)是在莱斯大学正式注册的非政治、非宗教、非营利、服务性综合性社团组织。自成立以来，RCSSA 为Rice 大学中国学生学者提供了生活、学习和职业规划上的帮助，组织了丰富多彩的娱乐活动。对外RCSSA 则积极参与各项校内校外交流活动，弘扬中国文化。Rice 的中国学生学者现有八百余人，占学校总人口的10%以上，是学校最大的国际学生学者团体。</h3>
                    <h3 style="font-weight: 100;">Welcome to RCSSA’s home page. Rice Chinese Students and Scholars Association is an official student organization registered at Rice University with no political, religious or profit-driven purpose. Since its foundation, the RCSSA has helped Chinese students at Rice University to improve their academic performance and life quality, as well as career planning. The RCSSA also organized various events for the Chinese community. Externally, the RCSSA actively participates in multiple inter-college level exchanges and devotes itself to connecting Chinese culture. At the moment there are about 800 Chinese students and scholars at Rice University, accounting for more than 10% of the school’s total population. RCSSA thus serves the biggest ethnic community on campus.
                    </h3>
                <a href="about" class="page-scroll btn btn-xl">About Us</a>
                </div>
            </div>
        </div>
    </section>
