section .welcome-section{
    padding: 100px 0;
}
.welcome-section {
    background-color: #{{ site.data.template.color.secondary }};
    color: #fff
}
.welcome-section .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    color: #{{ site.data.template.color.white }};
}
.welcome-section 
h1,h2,h3{
    #text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    line-height: 160%;
    text-align:text-justify;
    text-justify: inter-ideograph;
}
.welcome-section h3 {
    font-weight: 100;
}

.welcome-section .about-btn {
    margin-top: 30px;
    padding: 20px 40px;
    border-color: #{{ site.data.template.color.primary }};
    border-radius: 20px;;
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
}
.welcome-section .about-btn:hover,
.welcome-section .about-btn:focus,
.welcome-section .about-btn:active,
.welcome-section .about-btn.active,
.welcome-section .open .dropdown-toggle.about-btn {
    border-color: #{{ site.data.template.color.primary }};
    color: #fff;
    background-color: #{{ site.data.template.color.secondary }};
}