<section id="arrival" class="wiess-bg">
  <!-- <div class="arrival"> -->
  <h2 class="upon">Upon Arrival</h2>
  <div class="container" style="padding-left: 49vh">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="circle">学校地图</div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="circle">学校地图</div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="circle">学校地图</div>
      </div>
    </div>

    <div class="row" style="margin-top: 40px">
      <div class="col-md-4 col-sm-6">
        <div class="circle">学校地图</div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="circle">学校地图</div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="circle">学校地图</div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>

<style>
  h2.upon {
    font-family: Optima;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 73px;
    text-align: right;
    /* letter-spacing: 0.1em; */
    color: #ffffff;
    margin-top: -3%;
    margin-left: 40%;
    margin-bottom: 5%;
    margin-right: 29%;
  }

  .wiess-bg {
    background-image: url("{{ site.baseurl }}/img/wiess.png");
    /* background-position: center center; */
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* .arrival {
    margin-left: 37%;
    margin-bottom: 15%;
    margin-right: 13%;
  } */

  .circle {
    width: 160px;
    height: 160px;
    line-height: 160px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    font-family: Optima;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
</style>
