<section id="arrival" class="bg-dark-red">
  <div class="container" style="margin-top: -5%; margin-left: 30%">
    <h2 class="faq">FAQ</h2>
    <div class="question">
      <div class="row">
        <img
          class="down-arrow"
          src="../img/new_students/Text and Icon.png"
          alt="see more"
        />
        <div class="question-text">如何加入我们</div>
        <hr />
      </div>
    </div>
    <div class="question">
      <div class="row">
        <img
          class="down-arrow"
          src="../img/new_students/Text and Icon.png"
          alt="see more"
        />
        <div class="question-text">如何加入微信群</div>
        <hr />
      </div>
    </div>
    <div class="question">
      <div class="row">
        <img
          class="down-arrow"
          src="../img/new_students/Text and Icon.png"
          alt="see more"
        />
        <div class="question-text">如何加入微信群</div>
        <hr />
      </div>
    </div>
    <div class="question">
      <div class="row">
        <img
          class="down-arrow"
          src="../img/new_students/Text and Icon.png"
          alt="see more"
        />
        <div class="question-text">如何加入微信群</div>
        <hr />
      </div>
    </div>
    <div class="question">
      <div class="row">
        <img
          class="down-arrow"
          src="../img/new_students/Text and Icon.png"
          alt="see more"
        />
        <div class="question-text">如何加入微信群</div>
        <hr />
      </div>
    </div>
  </div>
  <style>
    h2.faq {
      font-family: Optima;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 97px;
      letter-spacing: 0.1em;

      margin-bottom: 20px;
      color: #ffffff;
    }

    .question-text {
      font-family: Optima;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 50px;
      letter-spacing: 0.1em;
      color: #ffffff;
      display: inline;
    }

    img.down-arrow {
      margin-right: 10px;
      width: 24px;
      height: 14px;
    }

    .question {
      margin-left: 5%;
      padding-right: 30%;
    }
  </style>
</section>
