<section id="arrival" class="bg-dark-red">
  <div class="container" style="margin-top: -5%; margin-left: 30%">
    <h2 class="faq">FAQ</h2>
    <div class="question">
      <div class="row">
        <button type="button" class="collapsible">
          <img
            class="down-arrow"
            src="../img/new_students/Text and Icon.png"
            alt="see more"
          />
          如何加入我们
        </button>

        <div class="content">
          <p class="content-text">
            关注RCSSA微信公众号，我们每年会在开学前的暑期大规模招新，开学后的Club
            Fair上我们也会视情况继续招新。具体信息以公众号推文为准
          </p>
        </div>

        <hr />
      </div>
    </div>
    <div class="question">
      <div class="row">
        <button type="button" class="collapsible">
          <img
            class="down-arrow"
            src="../img/new_students/Text and Icon.png"
            alt="see more"
          />
          官方网站和公众号有什么不同
        </button>

        <div class="content">
          <p class="content-text">
            公众号是RCSSA对外界交流对主要媒介，RCSSA官方网站将作为官方信息储阅以及创新平台，承载公众号所不支持的功能。官网的新功能将包括RCSSA周边产品售卖，方便Rice新生了解校园，提供新老生mentorship平台的搭建等等。同时，我们也加强与校友及各Rice华人组织的联络，进一步扩大RCSSA影响力。
          </p>
        </div>

        <hr />
      </div>
    </div>
    <div class="question">
      <div class="row">
        <button type="button" class="collapsible">
          <img
            class="down-arrow"
            src="../img/new_students/Text and Icon.png"
            alt="see more"
          />
          我想给网站添加新内容！
        </button>

        <div class="content">
          <p class="content-text">
            欢迎联系RCSSA主席及各部长，或在Contact
            Us目录下填写你的想法。也欢迎在招新的时候加入RCSSA。
          </p>
        </div>

        <hr />
      </div>
    </div>
    <div class="question">
      <div class="row">
        <button type="button" class="collapsible">
          <img
            class="down-arrow"
            src="../img/new_students/Text and Icon.png"
            alt="see more"
          />
          老生如何使用此官网
        </button>

        <div class="content">
          <p class="content-text">
            老生可以通过此官网报名成为学生Mentor，为新生以及perspective
            student提供生活，学习，职业发展，以及其他留学方面的建议。除此之外，RCSSA服务于莱斯大学中国留学生及学者群体，官网上会定期更新学生会动态相关的活动和产品。
          </p>
        </div>

        <hr />
      </div>
    </div>
    <div class="question">
      <div class="row">
        <button type="button" class="collapsible">
          <img
            class="down-arrow"
            src="../img/new_students/Text and Icon.png"
            alt="see more"
          />
          新生如何使用此官网
        </button>

        <div class="content">
          <p class="content-text">
            在New
            Student一栏有RCSSA精心制作的新生入学手册下载链接和其他新生入学相关信息。同时，新生可以填写表格报名成为Mentee，RCSSA会帮助匹配到一名背景相似的学姐学长作为新生Mentor，帮助你更好适应求学生活。
          </p>
        </div>

        <hr />
      </div>
    </div>

    <div class="question">
      <div class="row">
        <button type="button" class="collapsible">
          <img
            class="down-arrow"
            src="../img/new_students/Text and Icon.png"
            alt="see more"
          />
          我想申请Rice，此官网有什么用?
        </button>

        <div class="content">
          <p class="content-text">
            在Contact
            Us一栏，你可以关注RCSSA公众号信息，如果想进一步寻找Rice的在校生进行咨询，请填写联络表格。
          </p>
        </div>

        <hr />
      </div>
    </div>
  </div>

  <style>
    h2.faq {
      font-family: Optima;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 97px;
      letter-spacing: 0.1em;

      margin-bottom: 20px;
      color: #ffffff;
    }

    /* .question-text {
      font-family: Optima;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 50px;
      letter-spacing: 0.1em;
      color: #ffffff;
      display: inline;
    } */

    img.down-arrow {
      margin-right: 10px;
      width: 24px;
      height: 14px;
    }

    .question {
      margin-left: 5%;
      padding-right: 30%;
    }

    .collapsible {
      font-family: Optima;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 50px;
      letter-spacing: 0.1em;
      color: #ffffff;
      display: inline;
      background-color: transparent;
      border: none;
    }

    .active,
    .collapsible:hover {
      background-color: #660127;
    }

    .content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: transparent;
      font-family: Optima;
      font-style: normal;
      font-weight: bold;
      color: #ffffff;
    }

    .content-text {
      font-size: 18px;
    }
  </style>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          console.log(content.scrollHeight);
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
    console.log("done");
  </script>
</section>
