<div style="background-color: #392954;">
    <div class="container" style="padding-top:10vh; padding-bottom: 10vh; margin: auto;">
        <div class="row" style="justify-items: center; justify-content: center; justify-self: center; display: flex;">
            <div class="col-sm-4">
                <div class="friends-text">
                    莱斯大学有着活跃的校友群体，其中中国校友会有xxx位成员。
                </div>
            </div>
            <div class="col-sm-1">
                <div class="friends-vl"></div>
            </div>
            <div class="col-sm-4">
                <div class="friends-text">
                    RCSSA 与校内的其他国际学生组织长期保持着合作关系。
                </div>
            </div>
            <div class="col-sm-1">
                <div class="friends-vl"></div>
            </div>
            <div class="col-sm-4">
                <div class="friends-text">
                    RCSSA 一直以来为中国学生社团开展的活动提供支持。
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-top:15vh; padding-bottom: 10vh; margin: auto;">
    <div class="row">
        <h1 class="friends-color">
            ALUMNI RESOURCES | 校友资源
        </h1>
    </div>
</div>

<div class="container" style="padding-bottom: 15vh; margin: auto;">
    <div class="row" style="display: flex;">
        <div class="col-sm-3" style="background-color: rgba(200, 200, 200, 100);">
            <p class="friends-color"
                style="font-size: medium; text-align: center; padding-top: 20px; padding-bottom: 20px;">
                Rice官网校友资源：
                <a href=https://alumni.rice.edu>
                    https://alumni.rice.edu</a>
            </p>
            <img src="../img/rice-shield.png" alt="rice-shield"
                style="margin: auto; display: block; padding-bottom: 20px;">
        </div>
        <div class="col-sm-8" style="background-color: rgba(200, 200, 200, 100); margin-left: 5vw;">
            <p class="friends-color"
                style="font-size: medium; padding-top: 20px; padding-bottom: 20px; padding-left: 15px; padding-right: 15px;">
                <b>莱斯大学中国校友会</b>（Rice University Chinese Alumni
                Association）简称RCAA，是由莱斯大学中国校友自愿结成的联合性、学术性、非营利性的社会组织。旨在增强莱斯大学中国校友间的交流与合作，促进中国校友与母校的联络；全面提升莱斯大学在国际上的知名度，共同为母校的发展贡献力量；服务广大校友，支持广大校友的事业发展。
                </br>
                </br>
                微信公众号: Rice_Alumni
            </p>
        </div>

    </div>
</div>

<div style="background-color: #392954;">
    <div class="container" style="padding-top:15vh; padding-bottom: 10vh; margin: auto;">
        <div class="row">
            <h1 style="color: white;">
                INTERNATIONAL STUDENT ASSOCIATIONS AT RICE
            </h1>
        </div>
    </div>
    <div class="container" style="padding-bottom: 15vh; margin: auto;">
        <div class="row" style="display: flex;">
            <div class="col-sm-1">
                <div class="friends-vl" style="height: 100%; margin-right: -10px;"></div>
            </div>
            <div class="col-sm-6">
                <div class="friends-li" style="color: white; margin-left: -10px; line-height: 270%;">
                <ul>
                    <li><a class="friends-link" href="">
                            Brazillian Students Association (BRASA)
                    </a></li>
                    <li><a class="friends-link" href="">
                            Hong Kong Student Association
                        </a></li>
                    <li><a class="friends-link" href="">
                            Korean International Student Association
                        </a></li>
                    <li><a class="friends-link" href="">
                            Rice African Student Association (RASA)
                        </a></li>
                    <li><a class="friends-link" href="">
                            Rice South Asian Society
                        </a></li>
                    <li><a class="friends-link" href="">
                            Rice Taiwanese Association
                        </a></li>
                    <li><a class="friends-link" href="">
                            Vietnamese Student Association (VSA)
                        </a></li>
                </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="../img/rice-owl.png" style="display: block; margin: auto; height: 300px;" alt="rice-owl">
            </div>

        </div>
    </div>
</div>

<div class="container" style="padding-top:15vh; padding-bottom: 10vh; margin: auto;">
    <div class="row">
        <h1 class="friends-color">
            CHINESE STUDENT CLUBS | 中国学生社团
        </h1>
    </div>
</div>

<div class="container" style="padding-bottom: 15vh; margin: auto; line-height: 250%;">
    <div class="row friends-color" style="display: flex;">
        <div class="col-sm-4" style="margin-left: 10px; margin-right: 10px;">
            <img class="friends-card-img" src="../img/friends/friends-1.png" style="width: 100%;">
            <h2>
                RAW PHOTOGRAPHY
            </h2>
            <p style="line-height: 200%;">
                RAW.photography 致力于创造一个摄影爱好者能够相互交流学习的平台，曾举办过多次 workshop 和 shooting  event，涵盖了室内布光、街头摄影、时尚摄影等等领域。
            </p>
            <a href="">
                Learn More
            </a>
        </div>
        <div class="col-sm-4" style="margin-left: 10px; margin-right: 10px;">
            <img class="friends-card-img" src="../img/friends/friends-2.png" style="width: 100%;">
            <h2>
                星空戏剧社
            </h2>
            <p style="line-height: 200%;">
                星空剧社 (Rice Chinese Theater Club) 成立于2015年，旨在推广中文戏剧，为休斯敦地区热爱中文戏剧的人们提供一个交流平台。剧社每年为大家呈现精彩的剧目，往期作品包括《驴得水》、《你好，疯子》等。
            </p>
            <a href="">
                Learn More
            </a>
        </div>
        <div class="col-sm-4" style="margin-left: 10px; margin-right: 10px;">
            <img class="friends-card-img" src="../img/friends/friends-3.png" style="width: 100%;">
            <h2>
                休斯顿莱斯禅学社
            </h2>
            <p style="line-height: 200%;">
                休斯顿莱斯禅学社旨在带领大家从佛教的角度出发了解禅修与冥想。社团于美国中部时间每周五晚7：30-8：30开展活动。
            </p>
            <a href="">
                Learn More
            </a>
        </div>

    </div>
</div>