<!-- New Students Section -->
---
---
<section id="new_students">
    <div class="container">
                <h2 class="section-heading" style="text-align:center;">
                    WELCOME, NEW OWLS
                </h2>
                <p align="center">
                    <a href="#" class="button blue">点击下载新生手册</a>
                </p>
        <!-- Side navigation -->
        <!-- Still needs CSS adjustment, see the last part of agency.css -->
        <!-- <div class="sidenav">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>         -->
    </div>
</section>