<!-- New Students Section -->
---
---
<section id="new_students">
    <div class="container">
        <section id="handbook">
                <h2 class="section-heading" style="text-align:center;">
                    WELCOME, NEW OWLS
                </h2>
                <p align="center">
                    <a href="#" class="button blue">点击下载新生手册</a>
                </p>
        </section>
        <!-- Side navigation -->
        <!-- Still needs CSS adjustment, see the last part of agency.css -->
        <!-- <div class="sidenav">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>         -->
        <section id="useful_links">
        </section>
        <section id="life_at_rice">
        </section>
        <section id="faq">
        </section>
        <section id="coffee_chat">
            <div style="padding-left: 400px">
                <h1 class="section-heading" >
                    Want to talk with a Mentor?
                </h1>
                <p>
                    Whether you are a new student, an international applicant or even a current student, you can always find an RCSSA mentor
                    to answer all kinds of questions you have. Just sign up by filling the form below. A current student will be in contact with you soon!
                </p>
                <br>
                <p>
                    * We will keep your information 100% confidential. Our coordinator and your mentor would not disclose anything about this
                    coffee talk without your permission.
                </p>
                <div class="box">
                    <h5 class="section-heading" style="text-align:center;">
                        Coffee Chat Request
                    </h5>
                    <div class='row'>
                        <div class="col-md-6">
                            <h5 class="section-heading" style="text-align:center;">
                                About You
                            </h5>
                            <div style="padding-left: 90px">
                                <p>Name (English or Chinese) *<br> <input type="text" name="name" id="name" placeholder="Name" required></p>

                                <p>Gender<br> <input type="text" name="gender"></p>

                                <p>School Year<br> <input type="text" name="year"></p>

                                <p>Topic *<br><input type="text" name="topic" required></p>

                                <p>Email Contact *<br><input type="email" name="topic" required></p>

                                <p>Urgency Level *<br><input type="text" name="topic" required></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 class="section-heading" style="text-align:center;">
                                About Your Mentor
                            </h5>
                            <div style="padding-left: 90px">
                                <p>Gender Preferences<br> <input type="text" name="name" id="gender_preference"></p>

                                <p>Major Preferences<br> <input type="text" name="major_preference"></p>

                                <p>School Year Preferences<br> <input type="text" name="year_preference"></p>

                                <p>Notes to your Mentor<br>
                                    <textarea id="notes">
                                    </textarea>
                                </p>
                                <p><input type="submit" value="Submit" onclick = ""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>