<section id="useful_links" class="bg-dark-red">
  <div class="container">
    <style>
      .title {
        position: absolute;
        left: 65.68%;
        right: 10%;
        top: 50.00%;
        /* bottom: 41.86%; */
      }
      .info {
        width: 302.3px;
        height: 65px;
        margin-left: 34.27%;
        margin-bottom: 50px ;
      }
      h2.link {
        font-family: Optima;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 73px;
        text-align: right;
        letter-spacing: 0.1em;
        color: #ffffff;
      }
    </style>
    <div class="title">
      <h2 class="link">Useful Links</h2>
    </div>

    <div class="info">
      <img
        src="../img/new_students/Icon awesome-school.png"
        class="awesome-school"
        alt="canvas"
      />
      <p class="test">Rice Official</p>
    </div>

    <div class="info">
      <img
        src="../img/new_students/Icon ionic-md-school.png"
        class="awesome-school"
        alt="canvas"
      />
      <p class="test">Canvas</p>
    </div>

    <div class="info">
      <img
        src="../img/new_students/Icon map-school.png"
        class="awesome-school"
        alt="canvas"
      />
      <p class="test">OISS</p>
    </div>

    <div class="info">
      <img
        src="../img/new_students/Icon map-local-government.png"
        class="awesome-school"
        alt="canvas"
      />
      <p class="test">Chinese Embassy</p>
    </div>

    <div class="info">
      <img
        src="../img/new_students/Icon awesome-car-alt.png"
        class="awesome-school"
        alt="canvas"
      />
      <p class="test">DPS Driver's License</p>
    </div>


    <!-- <div class="canvas">
      <img
        src="../img/new_students/Icon ionic-md-school.png"
        class="mid-school"
        alt="canvas"
      />
      <!-- <p>Canvas www.canvas.rice.edu</p> -->
    </div> -->

    <!-- <img
      src="../img/new_students/Icon map-school.png"
      class="map-school"
      alt="canvas"
    />
    <p>OISS www.oiss.rice.edu</p>

    <img
      src="../img/new_students/Icon map-local-government.png"
      class="local-government"
      alt="canvas"
    />
    <p>Chinese Embassy http://www.china-embassy.org/chn/</p>

    <img
      src="../img/new_students/Icon awesome-car-alt.png"
      class="car"
      alt="canvas"
    />
    <p>DPS Driver's License https://www.dps.texas.gov/section/driver-license</p> -->
  </div>
</section>
