<section id="useful_links" class="bg-dark-red">
  <div class="container">
    <style>
      img.awesome-school {
        position: absolute;
        left: 34.27%;
        right: 61.7%;
        top: 49.12%;
        bottom: 49.03%;
      }

      img.mid-school {
        position: absolute;
        left: 34.11%;
        right: 61.55%;
        top: 52.5%;
        bottom: 45.37%;
      }

      img.map-school {
        position: absolute;
        left: 34.58%;
        right: 61.61%;
        top: 56.06%;
        bottom: 41.64%;
      }

      img.local-government {
        position: absolute;
        left: 34.58%;
        right: 61.61%;
        top: 59.46%;
        bottom: 38.04%;
      }

      img.car {
        position: absolute;
        left: 34.58%;
        right: 61.51%;
        top: 63.57%;
        bottom: 34.6%;
      }

      p.test {
        position: absolute;
        left: 40.34%;
        right: 51.07%;
        top: 49.02%;
        bottom: 50.09%;

        font-family: Optima;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */

        color: #ffffff;
      }

      h2 {
        position: absolute;
        left: 65.68%;
        right: 10%;
        top: 55.95%;
        bottom: 41.86%;

        font-family: Optima;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 73px;
        text-align: right;
        letter-spacing: 0.1em;

        color: #ffffff;
      }
      .rice-official {
        position: absolute;
        left: 34.27%;
        right: 49.98%;
        top: 49.02%;
        bottom: 48.99%;
      }

      .canvas {
        position: absolute;
        left: 34.11%;
        right: 45.09%;
        top: 52.45%;
        bottom: 45.37%;
      }
    </style>
    <h2>Useful Links</h2>
    <div class="rice-official">
      <img
        src="../img/new_students/Icon awesome-school.png"
        class="awesome-school"
        alt="canvas"
      />
      <p class="test">Rice Official</p>
    </div>

    <div class="canvas">
      <img
        src="../img/new_students/Icon ionic-md-school.png"
        class="mid-school"
        alt="canvas"
      />
      <!-- <p>Canvas www.canvas.rice.edu</p> -->
    </div>

    <!-- <img
      src="../img/new_students/Icon map-school.png"
      class="map-school"
      alt="canvas"
    />
    <p>OISS www.oiss.rice.edu</p>

    <img
      src="../img/new_students/Icon map-local-government.png"
      class="local-government"
      alt="canvas"
    />
    <p>Chinese Embassy http://www.china-embassy.org/chn/</p>

    <img
      src="../img/new_students/Icon awesome-car-alt.png"
      class="car"
      alt="canvas"
    />
    <p>DPS Driver's License https://www.dps.texas.gov/section/driver-license</p> -->
  </div>
</section>
