<!-- Portfolio Grid Section -->
    <section id="welcome" class="bg-dark-blue">
        <div class="container">
            <div class="intro-text">
                <div class=" text-center">
                    <h2>Welcome to Rice!</h2>
                    <h3>欢迎来到莱斯大学</h3>
                    <h4>我们代表Rice大学中国学生学者联谊会（Rice Chinese Students and Scholars Association）以及Rice的一千余名中国学生学者热诚欢迎你来到Houston加入我们温馨的大家庭！ 我们相信你会和我们一样喜欢上Rice和Houston! </h4>
                    <h4>RCSSA愿意竭诚为中国学生学者服务，获取及时资讯，组织一流活动，提供丰富资源，希望RCSSA官网成为您在Rice学习生活的好帮手！</h4>
                <a href="#updates" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
            </div>
        </div>
    </section>
