<!-- Welcome Section -->
    <section id="welcome" class="bg-dark-blue">
        <div class="container">
            <div class="intro-text">
                <div class=" text-center">
                    <h1>Welcome to RCSSA!</h1>
                    <h2>欢迎来到莱斯大学中国学生学者联谊会</h2>
                </br>
                </br>
                    <h3 style="font-weight: 100;">我们代表Rice大学中国学生学者联谊会（Rice Chinese Students and Scholars Association）以及Rice的一千余名中国学生学者热诚欢迎你来到Houston加入我们温馨的大家庭！ 我们相信你会和我们一样喜欢上Rice和Houston! </h3>
                    <h3 style="font-weight: 100;">RCSSA愿意竭诚为中国学生学者服务，获取及时资讯，组织一流活动，提供丰富资源，希望RCSSA官网成为您在Rice学习生活的好帮手！</h3>
                <a href="#updates" class="page-scroll btn btn-xl">About Us</a>
                </div>
            </div>
        </div>
    </section>
