<div style="background-color: #392954;">
    <div class="container" style="padding-top:15vh; padding-bottom: 10vh; margin: auto;">
        <div class="row">
            <h1 style="color: white;">
                INTERNATIONAL STUDENT ASSOCIATIONS AT RICE
            </h1>
        </div>
    </div>
    <div class="container" style="padding-bottom: 15vh; margin: auto;">
        <div class="row" style="display: flex;">
            <div class="col-sm-1">
                <div class="friends-vl" style="height: 100%; margin-right: -10px;"></div>
            </div>
            <div class="col-sm-6">
                <div class="friends-li" style="color: white; margin-left: -10px; line-height: 270%;">
                <ul>
                    <li><a class="friends-link" href="">
                            Brazillian Students Association (BRASA)
                    </a></li>
                    <li><a class="friends-link" href="">
                            Hong Kong Student Association
                        </a></li>
                    <li><a class="friends-link" href="">
                            Korean International Student Association
                        </a></li>
                    <li><a class="friends-link" href="">
                            Rice African Student Association (RASA)
                        </a></li>
                    <li><a class="friends-link" href="">
                            Rice South Asian Society
                        </a></li>
                    <li><a class="friends-link" href="">
                            Rice Taiwanese Association
                        </a></li>
                    <li><a class="friends-link" href="">
                            Vietnamese Student Association (VSA)
                        </a></li>
                </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="../img/rice-owl.png" style="display: block; margin: auto; height: 300px;" alt="rice-owl">
            </div>

        </div>
    </div>
</div>
