<div style="background-color: #392954;">
    <div class="container" style="padding-top:10vh; padding-bottom: 10vh; margin: auto;">
        <div class="row flex-center-items">
            <div class="col-sm-4">
                <div class="friends-text">
                    莱斯大学有着活跃的校友群体，其中中国校友会有xxx位成员。
                </div>
            </div>
            <div class="col-sm-1">
                <div class="friends-vl"></div>
            </div>
            <div class="col-sm-4">
                <div class="friends-text">
                    RCSSA 与校内的其他国际学生组织长期保持着合作关系。
                </div>
            </div>
            <div class="col-sm-1">
                <div class="friends-vl"></div>
            </div>
            <div class="col-sm-4">
                <div class="friends-text">
                    RCSSA 一直以来为中国学生社团开展的活动提供支持。
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 10vh; padding-top: 10vh; margin: auto; ">
    <div class="row flex-wrap flex-center-items" style="background-color: rgba(200, 200, 200, 100);">
        <div class="col-sm-3" >
            <p class="friends-color"
                style="font-size: medium; text-align: center; padding-top: 20px; padding-bottom: 20px;">
                Rice官网校友资源：
                <a href=https://alumni.rice.edu>
                    https://alumni.rice.edu</a>
            </p>
            <img src="../img/rice-shield.png" alt="rice-shield"
                style="margin: auto; display: block; padding-bottom: 20px;">
        </div>
        <div class="col-sm-8" >
            <p class="friends-color"
                style="font-size: medium; padding-top: 20px; padding-bottom: 20px; padding-left: 15px; padding-right: 15px;">
                <b>莱斯大学中国校友会</b>（Rice University Chinese Alumni
                Association）简称RCAA，是由莱斯大学中国校友自愿结成的联合性、学术性、非营利性的社会组织。旨在增强莱斯大学中国校友间的交流与合作，促进中国校友与母校的联络；全面提升莱斯大学在国际上的知名度，共同为母校的发展贡献力量；服务广大校友，支持广大校友的事业发展。
                </br>
                </br>
                微信公众号: Rice_Alumni
            </p>
        </div>

    </div>
</div>