<div class="container" style="padding-top:15vh; padding-bottom: 10vh; margin: auto;">
    <div class="row">
        <h1 class="friends-color">
            CHINESE STUDENT CLUBS | 中国学生社团
        </h1>
    </div>
</div>

<div class="container" style="padding-bottom: 15vh; margin: auto; line-height: 250%;">
    <div class="row friends-color" style="display: flex;">
        <div class="col-sm-4" style="margin-left: 10px; margin-right: 10px;">
            <img class="friends-card-img" src="../img/friends/friends-1.png" style="width: 100%;">
            <h2>
                RAW PHOTOGRAPHY
            </h2>
            <p style="line-height: 200%;">
                RAW.photography 致力于创造一个摄影爱好者能够相互交流学习的平台，曾举办过多次 workshop 和 shooting  event，涵盖了室内布光、街头摄影、时尚摄影等等领域。
            </p>
            <a href="">
                Learn More
            </a>
        </div>
        <div class="col-sm-4" style="margin-left: 10px; margin-right: 10px;">
            <img class="friends-card-img" src="../img/friends/friends-2.png" style="width: 100%;">
            <h2>
                星空戏剧社
            </h2>
            <p style="line-height: 200%;">
                星空剧社 (Rice Chinese Theater Club) 成立于2015年，旨在推广中文戏剧，为休斯敦地区热爱中文戏剧的人们提供一个交流平台。剧社每年为大家呈现精彩的剧目，往期作品包括《驴得水》、《你好，疯子》等。
            </p>
            <a href="https://mp.weixin.qq.com/s/Fn9_fyOJGHr5aJjZrWFKlA" target="_blank">
                Learn More
            </a>
        </div>
        <div class="col-sm-4" style="margin-left: 10px; margin-right: 10px;">
            <img class="friends-card-img" src="../img/friends/friends-3.png" style="width: 100%;">
            <h2>
                休斯顿莱斯禅学社
            </h2>
            <p style="line-height: 200%;">
                休斯顿莱斯禅学社旨在带领大家从佛教的角度出发了解禅修与冥想。社团于美国中部时间每周五晚7：30-8：30开展活动。
            </p>
            <a href="">
                Learn More
            </a>
        </div>

    </div>
</div>