<header class="merch">
  <!-- <div class="container" , style=""> -->
    <div>
        <div class="merch_title">
            <div class="title_text">RCSSA Merch</div>
        </div>
    </div>  
    
    <!-- </div> -->
  </div>
</header>

<style>
  header.merch {
    text-align: right;
    background: url("{{ site.baseurl }}/img/merch/header_line.png"), #b8bec7;
    padding-top: 15%;
    padding-bottom: 15%;
    background-size: cover;
    background-position: center center;
  }
  
    .merch_title {
       padding-top: 15vw;
       padding-bottom: 3.75vw;
       background-color: white;

   }

   .title_text {
       font-size: 75px;
       color:#656565;
       margin-right: 5%;
       font-weight: bold;
       font: optima;
   }
</style>
