<!-- Team Section -->
<section id="team" class="about-team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="p4-section-heading">RCSSA Board</h2>
      </div>
    </div>
    {% for row in site.data.board %}
    <div class="row">
      {% for col in row.row %}
      <!-- if there's only one person, he or she will occupy the entire row  -->
      {% if row.row.size() == 1%}

      <div class="team-member">
        <img
          class="img-responsive"
          src="/img/team/{{col.info.picture}}"
          alt="{{col.info.name}}"
        />
        <br />
        <h4>{{col.info.name}}</h4>
        <p class="text-white">{{col.info.title}}</p>
      </div>
      {% else %}
      <div class="col-md-6">
        <div class="team-member">
          <img
            class="img-responsive"
            src="/img/team/{{col.info.picture}}"
            alt="{{col.info.name}}"
          />
          <br />
          <h4>{{col.info.name}}</h4>
          <p class="text-white">{{col.info.title}}</p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>

    {% endfor %}
    <button class="left-arrow" onclick="myFunction()">
      <img class="arrow-logo" />
    </button>
  </div>
</section>
