<section id="arrival" class="faq-section">
  <div class="container">
    <div class="faq_container">
      <h2 class="faq">FAQ</h2>

      <!-- Question1 -->
      <div class="question">
        <p>
          <a class="btn collapsible" data-toggle="collapse" href="#question1" role="button" aria-expanded="false">
            <img class="right-arrow" />
            如何加入RCSSA?
          </a>
        </p>
        <div class="collapse" id="question1">
          <p class="content-text">
            关注RCSSA微信公众号，我们每年会在开学前的暑期大规模招新，开学后的Club
            Fair上我们也会视情况继续招新。具体信息以公众号推文为准
          </p>
        </div>
        <hr />
      </div>

      <!-- Question2 -->
      <div class="question">
        <p>
          <a class="btn collapsible" data-toggle="collapse" href="#question2" role="button" aria-expanded="false">
            <img class="right-arrow" />
            官方网站和公众号有什么不同
          </a>
        </p>
        <div class="collapse" id="question2">
          <p class="content-text">
            公众号是RCSSA对外界交流对主要媒介，RCSSA官方网站将作为官方信息储阅以及创新平台，承载公众号所不支持的功能。官网的新功能将包括RCSSA周边产品售卖，方便Rice新生了解校园，提供新老生mentorship平台的搭建等等。同时，我们也加强与校友及各Rice华人组织的联络，进一步扩大RCSSA影响力。
          </p>
        </div>
        <hr />
      </div>

      <!-- Question3 -->
      <div class="question">
        <p>
          <a class="btn collapsible" data-toggle="collapse" href="#question3" role="button" aria-expanded="false">
            <img class="right-arrow" />
            学校的疫情状况如何？有哪些防疫措施需要我遵守？
          </a>
        </p>
        <div class="collapse" id="question3">
          <p class="content-text">
            学校的疫情情况可以访问<a href=https://coronavirus.rice.edu/>这里</a>。
            疫情变动迅速，学校会在报到之前给所有同学发邮件通知最新的疫情情况和防疫措施。
          </p>
        </div>
        <hr />
      </div>

      <div class="question">
        <p>
          <a class="btn collapsible" data-toggle="collapse" href="#question4" role="button" aria-expanded="false">
            <img class="right-arrow" />
            怎样缴纳学费最方便，划算？
          </a>
        </p>
        <div class="collapse" id="question4">
          <p class="content-text">
            每学期的学费会显示在 Esther 上面 , 如果没有办理美国银行卡 , 国际生需要通过第三方 Flywire 来交学费。更多详情请查看新生手册p13.
          </p>
        </div>
        <hr />
      </div>
      <div class="question">
        <p>
          <a class="btn collapsible" data-toggle="collapse" href="#question5" role="button" aria-expanded="false">
            <img class="right-arrow" />
            怎样知道我应该上哪些课程？哪些课程学长学姐们推荐/不推荐？
          </a>
        </p>
        <div class="collapse" id="question5">
          <p class="content-text">
            在Orientation week 会有学长学姐作为你的Advisor给你提供个性化的选课建议。
             如果想提前了解专业要求和现有的课程，可以访问 <a href="https:\\www.ga.rice.edu">ga.rice.edu</a>
          </p>
        </div>
        <hr />
      </div>

      <div class="question">
        <p>
          <a class="btn collapsible" data-toggle="collapse" href="#question6" role="button" aria-expanded="false">
            <img class="right-arrow" />
            我有其他的问题！
          </a>
        </p>
        <div class="collapse" id="question6">
          <p class="content-text">
            欢迎通过右下方contact us向我们提问！
          </p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
