<section id="useful_links" class="bg-dark-red">
  <div class="container" style="position: relative;">
    <div class="title">
      <h2 class="link">Useful Links</h2>
    </div>

    <div class="info">
      <div class="row">
      <div class="col-md-4 col-xs-3">
        <img
          src="../img/new_students/airplane-icon.png"
          class="awesome-school"
          alt="canvas"
        />
      </div>
      <div class="col-md-8 col-xs-9">
        <p class="text">Traveling to the U.S</p>
        <a href="https://travel.state.gov/content/travel/en/traveladvisories/ea/requirements-for-air-travelers-to-the-us.html" class="text">
          travel.state.gov
        </a>
      </div>
    </div>
    </div>

    <div class="info">
      <div class="row">
        <div class="col-md-4 col-xs-3">
        <img
          src="../img/new_students/Icon ionic-md-school.png"
          class="awesome-school"
          alt="canvas"
        />
      </div>
      <div class="col-md-8 col-xs-9">
        <p class="text">Majors and Courses</p>
        <a href="https://ga.rice.edu" class="text">ga.rice.edu</a>
      </div>
    </div>
      
    </div>

    <div class="info">
      <div class="row">
      <div class="col-md-4 col-xs-3">
        <img
          src="../img/new_students/Icon map-school.png"
          class="awesome-school"
          alt="canvas"
        />
      </div>
      <div class="col-md-8 col-xs-9">
        <p class="text">OISS FAQs</p>
        <a href="https://oiss.rice.edu/student-FAQs" class="text">oiss.rice.edu</a>
      </div>
    </div>
    </div>

    <div class="info">
      <div class="row">
      <div class="col-md-4 col-xs-3">
        <img
          src="../img/new_students/gym-icon.png"
          class="awesome-school"
          alt="canvas"
        />
      </div>
      <div class="col-md-8 col-xs-9">
        <p class="text">Checkout the Rice gym</p>
        <a href="https://recreation.rice.edu/" class="text">recreation.rice.edu</a>
      </div>
      </div>
    </div>

    <!-- <div class="info">
      <div class="row">
      <div class="col-md-4 col-sm-6">
        <img
          src="../img/new_students/Icon awesome-car-alt.png"
          class="awesome-school"
          alt="canvas"
        />
      </div>
      <div class="col-md-8 col-sm-10">
        <p class="text">DPS Driver's License</p>
        <a href="https://www.dps.texas.gov/section/driver-license" class="text">www.dps.texas.gov/section/driver&#8209license</a>
      </div>
    </div>
  </div> -->
</div>
</section>
